html {
  height: 100vh;
}
body {
  height: 100vh;
  min-height: 100vh;
}

h1, h2, h3, h4, h5, h6, .title  {
  font-family: 'Orbitron', cursive;
  line-height: 2;
}

h1.title {
  font-size: 2.5em;
  font-weight: bold;    
  margin: 0;
  padding: 28px 0 0 0;
  line-height: 1em;
  text-align: center;
}

.hidden {
  display: none!important;
}

input[type="text"] {
  height: 3em;
  line-height: 3em;
  font-size: 1em;
  font-family: 'Orbitron', cursive;
  padding: 0 1em;
}

.text-grads-1 {
  background: -webkit-gradient(linear,left top,right top,from(#d53369),to(#3f0101));
  background: linear-gradient(to right,#d53369,#3f0101);
  background-clip: border-box;  
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-box-decoration-break: clone;
}

.text-grads-2 {
  background: -webkit-gradient(linear,left top,right top,from(#ff0000),to(#bb0303)); 
  background: linear-gradient(to right,#ff0000,#bb0303);
  background-clip: border-box;  
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-box-decoration-break: clone;
}

.text-grads-3 {
  background: -webkit-gradient(linear,left top,right top,from(#0700b8),to(#00ff88));
  background: linear-gradient(to right,#0700b8,#00ff88);
  background-clip: border-box;  
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-box-decoration-break: clone;
}

#file {
  display: block;
  visibility: hidden;
  width: 0;
  height: 0;
}

.btn-choose-other-image.is-info.is-outlined {
  background-color: #fff;
}

.is-doom {
  background-image: linear-gradient(141deg,#9e0000 0,#000000 25%, #000000 75%,#eb0000 100%);
}

.hero-body {
  padding: 0 1.5rem;
}

.vex.vex-theme-default.rsp-dialog .vex-content {
  padding: 1.5em;
  width: 780px;
}

.rsp-dialog-title {
  font-size: 2em;
  background: -webkit-gradient(linear,left top,right top,from(#d53369),to(#3f0101));
  background: linear-gradient(to right,#d53369,#3f0101);
  background-clip: border-box;  
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-box-decoration-break: clone;
}

.rsp-dialog-content {
  margin-bottom: 10px;
}

.dialog-text-wrapper .letter-wrapper {
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.dialog-text-wrapper .letter {
  font-family: 'Orbitron', cursive;
  display: inline-block;
  line-height: 1em;
}
/* 
.rsp-dialog-buttons {
  opacity: 0;
} */

.rsp-dialog-button {
  background: -webkit-gradient(linear,left top,right top,from(#ff0000),to(#880303)); 
  background: linear-gradient(to right,#ff0000,#880303);
  border: none;
  color: #fff;
  font-family: 'Orbitron', cursive;
  font-weight: bold;
}

.rsp-dialog-button:hover {
  background: -webkit-gradient(linear,left top,right top,from(#ff0000),to(#bb0303)); 
  background: linear-gradient(to right,#ff0000,#bb0303);
  border: none;
  color: #fff;
}

.vex-overlay {
  background: rgba(0, 0, 0, 1);
}
/*-----------------------------------*\
  MAIN
\*-----------------------------------*/
.hero-main {
  height: 100vh;
  min-height: 100vh;
}

.tile.is-child.tile-game-panel {
  width: 46vw;
  /* margin: 1em!important; */
}

.tile-game-panel .wrapper {
  background: rgb(43, 43, 43);
  text-align: center;
  position: relative;
  min-height: 80vh;
  margin: 1em;
}

.tile-game-panel h2.title {
  text-transform: uppercase;
  margin-bottom: 0;
  padding-top: .5em;
}

.tile-game-panel article {
  padding: 1em 2em 2em 2em;
}

.tile-hero {
  position: relative;
}

.tile-game-panel-parent {
  position: relative;
}

#game-status {
  background: -webkit-gradient(linear,left top,right top,from(#ff0000),to(#bb0303)); 
  background: linear-gradient(to right,#ff0000,#bb0303);
  position: absolute;
  border-radius: 50%;
  width: 290px;
  height: 290px;
  top: 130px;
  left: -160px;
  opacity: 0;
}

#game-status .winner {
  text-align: center;
}

#game-status .winner p {
  color: #fff;
  font-family: 'Orbitron', cursive;
  font-weight: bold;
  font-size: 2.8em;
  text-align: center;
  line-height: 1em;
  margin: 0;
  padding: 80px 0 20px 0;
}

#game-status .winner .btn-play-again {
  opacity: 0;
}

/*-----------------------------------*\
  HUMAN
\*-----------------------------------*/
.tile-human {
  position: relative;
}

.tile-human .wrapper {
  overflow: hidden;
}

.tile-human .instructions {
  margin: 0 0 1em;
}

#my-camera, .taken-photo {
  margin: 0 auto 20px auto;
}

.btn-capture-image {
  margin: 0 6px;
}

#loading {
  margin: 20px auto;
  width: 40%;
}

.tile-game-panel article.box-upload-file {
  position: absolute;
  width: 100%;
  top: 65px;
  left: 0;
  /* float: left;
  transition: 0.4s;
  transform: translate(30%, 0);
  transition-timing-function: ease-in-out; */
}

.box-results {
  position: absolute;
  width: 100%;
  top: 65px;
  left: 0;
  transform:translateX(9999px);
  /* float: left;
  transition: 0.4s;
  transform: translate(50%, 0);
  transition-timing-function: ease-in-out;
  opacity: 0; */
}

#go-back {
  background: none;
  color: #dbdbdb;
}

#confirm-weapon {
  text-transform: uppercase;
}

.tile-human .wrapper {
  overflow: hidden;
}

#results {
  margin: 0 auto;
  position: relative;
}

#results h3.title {
  font-size: 1.5em;
  margin: 0;
}

#results ul {
  margin: 0 0 20px 0;
}

#results ul li {
  margin: 0 0 1px 0;
}

#results .num {
  background: #b9e2f3;
  border: 1px solid #12739c;
  color: #000;
  font-weight: bold;
  display: inline-block;
  width: 100px;
  padding: 4px 10px;
  text-align: right;
}

#results .prob {
  background: #b9e2f3;
  border: 1px solid #12739c;
  border-left: none;
  color: #000;
  font-weight: bold;
  display: inline-block;
  margin-left: -4px;
  width: 250px;
  padding: 4px 10px;
  text-align: left;
}

#taken-photo {
  display: block;
}

.prediction-wrapper {
  position: relative;
  margin: 0 auto 20px auto;
  width: 400px;
}

.prediction-text {
  background: rgba(0, 0, 0, 0.4);
  bottom: 0;
  left: 0;
  position: absolute;
  width: 100%;
  text-align: center;
}

#prediction {
  margin: 0;
}

/*-----------------------------------*\
  AI
\*-----------------------------------*/

.tile-ai .wrapper {
  overflow: hidden;
}

.box-ai-weapon {
  position: relative;
  height: 100%;
  overflow: hidden;
  width: 500px;
  left: 48px;
}

.tile-game-panel article.box-lord-ai-weapon {
  position: relative;
  height: 100%;
  /* overflow: hidden; */
  padding-top: 0;
}

.box-lord-ai-weapon .box-content {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}

.lord-ai-small {
  width: 400px;
  display: flex;
  margin: 0 auto 5px;
}

.lord-ai-small .lord-ai-avatar {
  flex-grow: 1;
}

.lord-ai-small .lord-ai-avatar img {
  width: 60px;
  height: 60px;
}

.lord-ai-small .lord-ai-small-content {
  font-family: 'Orbitron', cursive;
  font-size: 1.2em;
  text-align: left;
  flex-grow: 5;
  padding: 1em 0 0 .5em;
}

.lord-ai-small-content .letter-wrapper {
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.lord-ai-small-content .letter-wrapper .letter {
  display: inline-block;
  line-height: 1em;
}

.lord-ai-intro {
  position: absolute;
  top: 0;
  left: 0;
  /* flex-grow: 1; */
  width: 100%;
  padding-top: 2em;
}

.lord-ai-intro .lord-ai-avatar {
  /* flex-grow: 1;
  width: 200px; */
  margin: 0 0 1em;
}

.lord-ai-intro .lord-ai-intro-content {
  font-family: 'Orbitron', cursive;
  font-size: 1.5em;
  text-align: center;
}

.lord-ai-intro-content .letter-wrapper {
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.lord-ai-intro-content .letter-wrapper .letter {
  display: inline-block;
  line-height: 1em;
}

.lord-ai-intro-content .ai-turn .letter{
  text-transform: uppercase;
}

.dialog-text-wrapper .letter {
  font-family: 'Orbitron', cursive;
  display: inline-block;
  line-height: 1em;
}

#lord-ai-weapon {
  /* flex-grow: 1; */
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0; 
  left: 0;
  transform: translateX(9999px);
}

/* .lord-ai-weapon-loading {
} */

.lord-ai-weapon-loading .grids {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 400px;
  height: 100%;
  margin: 0 auto;
}

.lord-ai-weapon-loading .grid {
  display: flex;
  flex-wrap: wrap;
  z-index: 30;
}

.lord-ai-weapon-loading .shadow {
  position: absolute;
  opacity: .2;
  z-index: 20;
}

.lord-ai-weapon-loading .ai-weapon {
  position: absolute;
  z-index: 10;
}

.lord-ai-weapon-loading .ai-weapon img {
  opacity: 0;
}

.lord-ai-weapon-loading .grid .square {
  pointer-events: none;
  position: relative;
  width: 28px;
  height: 28px;
  margin: 1px;
  background-color: #fa4040;
  font-size: 14px;
}

.lord-ai-weapon-loading .grid .small {
  width: 20px;
  height: 20px;
}


/*-----------------------------------*\
  $ANIMATIONS
\*-----------------------------------*/
@keyframes hue {
  from {
    filter: hue-rotate(0deg);
  }
  
  to {
    filter: hue-rotate(-360deg);
  }
}

/*-----------------------------------*\
  RESPONSIVE
\*-----------------------------------*/
@media screen 
  and (min-width: 1200px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
  
    .section-main {
      max-width: 1200px;
    }

}